<section class="block color-a">
  <div class="sec-title">Overview</div>
  <!-- use CSS to add the > before -->
  <div class="main">
    <div class="info">
      <span class="data">64</span>
      <span class="title">Developers</span>
    </div>
    <div class="info">
      <span class="data">532</span>
      <span class="title">Contributors</span>
    </div>
    <div class="info">
      <span class="data">12326</span>
      <span class="title">Stars 🌟</span>
    </div>
  </div>
</section>

<section class="block">
  <div class="sec-title">Top Repositories</div>
  <!-- use CSS to add the > before -->
  <div class="main nowrap">
    <div class="intro">
      Here is a little automated introduction about your top repositories !
      <br />
      As you can see, you have a great repo
      <strong>Project Z</strong> topping with <em>12002</em> stars !
    </div>
    <div class="list">
      <span>stars</span><span></span><span>contributors</span>
      <span>12002</span><span>Project Z</span><span>137</span>
      <span>862</span><span>Project A</span><span>62</span> <span>276</span
    ><span>Project New</span><span>13</span> <span>13</span
    ><span>Project M</span><span>8</span>
    </div>
  </div>
</section>

<section class="block color-b">
  <div class="sec-title">Top Used Languages</div>
  <!-- use CSS to add the > before -->
  <div class="main nowrap">
    <div class="intro">
      Here is a little automated introduction about your top languages
      repositories !
      <br />
      Your prefered language seems to be Java !
    </div>
    <div class="main">
      <div class="info table">
        <div>
              <span class="data"></span
              ><span class="title">Number of Projects</span>
        </div>
        <div>
          <span class="data">Java</span><span class="title">7</span>
        </div>
        <div><span class="data">CSS</span><span class="title">5</span></div>
        <div>
          <span class="data">HTML</span><span class="title">4</span>
        </div>
        <div>
          <span class="data">Python</span><span class="title">4</span>
        </div>
        <div>
          <span class="data">Shell</span><span class="title">2</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block color-c">
  <div class="sec-title">Your most frequent assigned labels</div>
  <!-- use CSS to add the > before -->
  <div class="main nowrap">
    <div class="intro">
      Here are the most common labels assigned to your issues.
      <br />
      You want to make a lots of features !
    </div>
    <div class="main label">
      <div class="info">
        <div>
              <span
                class="data"
                style="background:#EEEEEE; border-color:#EEEEEE;"
              ><span>type: feature</span></span
              >
        </div>
        <div>
              <span
                class="data"
                style="background:#EEEEEE; border-color:#EEEEEE;"
              ><span>type: bug/fix</span></span
              >
        </div>
        <div>
              <span
                class="data"
                style="background:#c7def8; border-color:#c7def8;"
              ><span>comp: build & ci</span></span
              >
        </div>
        <div>
              <span class="data" style="background:black; border-color:black;"
              ><span>effort3: weeks</span></span
              >
        </div>
        <div>
              <span
                class="data"
                style="background:#d4c5f9; border-color:#d4c5f9;"
              ><span>hotlist: angular-core-team</span></span
              >
        </div>
        <div>
              <span
                class="data"
                style="background:#bfe5bf; border-color:#bfe5bf;"
              ><span>effort1: hours</span></span
              >
        </div>
        <div>
              <span
                class="data"
                style="background:#fbca04; border-color:#fbca04;"
              ><span>freq3: high</span></span
              >
        </div>
        <div>
              <span
                class="data"
                style="background:#0052cc; border-color:#0052cc;"
              ><span>severity5: regression</span></span
              >
        </div>
        <!-- Force color white/black if 15% < L > 90% -->
        <!-- L = r,g,b : sum([255*_ for _ in  (r,g,b)]) / 195075 -->
        <!-- TODO: See how to handle element's bg color -->
      </div>
    </div>
  </div>
</section>
