/* You can add global styles to this file, and also import other style files */
body {
  font-size: 120%;
}

.sec-title:before {
  content: ">";
  margin-right: 10px;
}

.sec-title {
  font-size: 2rem;
  font-family: "Major Mono Display", monospace;
}

.block {
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.25rem;
}

.data {
  font-size: 1.3rem;
  font-weight: bold;
}

.sec-title {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: monospace;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.main.nowrap {
  flex-wrap: nowrap;
}

.main.reverse {
  flex-direction: row-reverse;
}

.color-a {
  background: #1abc9c;
}

.color-b {
  background: #3498db;
}

.color-c {
  background: #f1c40f;
}

.block:not(.color-a):not(.color-b):not(.color-c) {
  color: grey;
}

.intro {
  font-family: "Montserrat", sans-serif;
}

.list {
  display: grid;
  grid-template-columns: 100fr auto 100fr;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
  flex-grow: 1;
}

.list span:nth-child(-n + 3) {
  font-weight: bold;
  font-family: "Major Mono Display", monospace;
}

.list span:nth-child(3n-2) {
  text-align: right;
}

.list span:nth-child(3n-1) {
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
}

.list span:nth-child(4),
.list span:nth-child(5),
.list span:nth-child(6),
.table div:nth-child(2) span {
  font-size: 2em;
}

.list span:nth-child(7),
.list span:nth-child(8),
.list span:nth-child(9),
.table div:nth-child(3) span {
  font-size: 1.5em;
}

.list span:nth-child(10),
.list span:nth-child(11),
.list span:nth-child(12),
.table div:nth-child(4) span {
  font-size: 1.25em;
}

.table div:nth-child(n+5) span {
  font-size: 1em;
}

.info.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0.5em;
  align-self: center;
  text-align: left;
}

.info.table div {
  display: table-row;
}

.info.table div span {
  display: table-cell;
}

.info.table div span:nth-child(1) {
  text-align: right;
  padding-right: 15px;
}

.label .info > div {
  display: flex;
  align-self: self-start;
  padding-bottom: 0.4em;
  padding-left: 10em;
}

.label .data {
  font-size: 1.3rem;
  font-weight: bold;
  border: 0.4em solid;
  border-radius: calc((1.3rem + 0.4em) / 2);
}

.label .data span {
  mix-blend-mode: difference;
  color: rgb(50, 150, 150);
}
